<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    
    <title>Join Us</title>
</head>
<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img width="80" src="static/Final youtbe log.png" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </img>
            <span class="ml-3 text-xl">WorldTv Studio</span>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <a href="/" class="mr-5 hover:text-gray-900" >Home</a>
                <a href="channels" class="mr-5 hover:text-gray-900">Our Channels</a>
                <a href="videos" class="mr-5 hover:text-gray-900">Our Videos</a>
                <a href="ourteam" class="mr-5 hover:text-gray-900">Our Team</a>
                <a href="contact" class="mr-5 hover:text-gray-900">Contact Us</a>
                <a href="datawebsite" class="mr-5 hover:text-gray-900">worlddata4u</a>
          </nav>
          <a href="https://www.youtube.com/channel/UCl5a8KNSTIlE1myVUSldhnw"><button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" >Visit<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg></button></a>
        </div>
      </header>
      <div class="container mx-auto">
    <div class="w-full md:w-96 md:max-w-full mx-auto px-auto">
        <div class="p-6 border border-gray-300 sm:rounded-md">
          <form
            method="POST"
            action="joinus"
            enctype="multipart/form-data">
          {% csrf_token %}
          <label class="block mb-6">
              <span class="text-gray-700">Your name</span>
              <input
                required
                name="Name"
                type="text"
                class="
                  block
                  w-full
                  mt-1
                  border-gray-300
                  rounded-md
                  shadow-sm
                  focus:border-indigo-300
                  focus:ring
                  focus:ring-indigo-200
                  focus:ring-opacity-50
                "
                placeholder="Enter Your Name"
              />
            </label>
            <label class="block mb-6">
              <span class="text-gray-700">Email address</span>
              <input
                required
                name="Email"
                type="email"
                class="
                  block
                  w-full
                  mt-1
                  border-gray-300
                  rounded-md
                  shadow-sm
                  focus:border-indigo-300
                  focus:ring
                  focus:ring-indigo-200
                  focus:ring-opacity-50
                "
                placeholder="Enter Your Email"
              />
            </label>
            <label class="block mb-6">
              <span class="text-gray-700">Years of experience</span>
              <input
                required
                name="Experience"
                placeholder="Enter Experience In Years"
                class="
                  block
                  w-full
                  mt-1
                  border-gray-300
                  rounded-md
                  shadow-sm
                  focus:border-indigo-300
                  focus:ring
                  focus:ring-indigo-200
                  focus:ring-opacity-50
                "
              >
                
            </label>
            <label class="block mb-6">
              <span class="text-gray-700">Tell us more about yourself</span>
              <textarea
                name="Message"
                class="
                  block
                  w-full
                  mt-1
                  border-gray-300
                  rounded-md
                  shadow-sm
                  focus:border-indigo-300
                  focus:ring
                  focus:ring-indigo-200
                  focus:ring-opacity-50
                "
                rows="3"
                placeholder="What motivates you?"
              ></textarea>
            </label>
            <label class="block mb-6">
              <span class="text-gray-700">Your CV</span>
              <input
                required
                name="Cv"
                type="text"
                placeholder="Please Provide The Link Of Your Cv Or Linkedin Profile"
                class="
                  block
                  w-full
                  mt-1
                  focus:border-indigo-300
                  focus:ring
                  focus:ring-indigo-200
                  focus:ring-opacity-50
                "
              />
            </label>
            <div class="mb-6">
              <div class="mt-2">
                
                <div>
                  
                  <label class="inline-flex items-center">
                    <span class="ml-2">You'd prefer to work onsite</span>
                    <input
                      name="Re"
                      type="text"
                      class="
                        text-indigo-600
                        border-gray-300
                        rounded-full
                        shadow-sm
                        focus:border-indigo-300
                        focus:ring
                        focus:ring-offset-0
                        focus:ring-indigo-200
                        focus:ring-opacity-50
                      "
                    />
                    
                  </label>
                </div>
              </div>
            </div>
            <div class="mb-6">
              <a href="https://www.worlddata4u.com/register"><button
                type="submit"
                class="
                  h-10
                  px-5
                  text-indigo-100
                  bg-indigo-700
                  rounded-lg
                  transition-colors
                  duration-150
                  focus:shadow-outline
                  hover:bg-indigo-800
                "
              >
                Apply
              </button></a>
            </div>
            <div>
              <div class="mt-2 text-gray-700 text-right text-xs">
                by
                <a href="" class="hover:underline" target="_blank"
                  ></a
                >
              </div>
            </div>
          </form>
        </div>
      </div></div>
      <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900" href="https://www.youtube.com/c/WorldTVStudio">
            <img width="80" src="static/Final youtbe log.png" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
           
            <span class="ml-3 text-xl">WorldTv Studio</span>
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">WorldTv Studio
            
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="text-gray-500" href="https://www.facebook.com/WorldtvStudio/">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            
            <a class="ml-3 text-gray-500" href="https://www.instagram.com/worldtvstudio/?hl=en">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500" href="https://in.linkedin.com/in/arshad-irfan-99020535?original_referer=https%3A%2F%2Fwww.google.com%2F">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </footer>
      
      
    
</body>
</html>