<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Our Channels</title>
</head>
<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img width="80" src="static/Final youtbe log.png" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </img>
            <span class="ml-3 text-xl">WorldTv Studio</span>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
                <a href="/" class="mr-5 hover:text-gray-900" >Home</a>
                <a href="channels" class="mr-5 hover:text-gray-900">Our Channels</a>
                <a href="videos" class="mr-5 hover:text-gray-900">Our Videos</a>
                <a href="ourteam" class="mr-5 hover:text-gray-900">Our Team</a>
                <a href="contact" class="mr-5 hover:text-gray-900">Contact Us</a>
                <a href="datawebsite" class="mr-5 hover:text-gray-900">worlddata4u</a>
          </nav>
          <a href="https://www.youtube.com/channel/UCl5a8KNSTIlE1myVUSldhnw"><button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" >Visit<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg></button></a>
        </div>
      </header>
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Our Channels</h1>
              <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Here are our all channels presented to you, there are data channels, cooking channels as well as art and craft channels providing a lot of different and interesting content.</p>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <a href="https://www.youtube.com/c/WorldTVStudio/featured"><img class="h-full rounded w-full object-cover object-center mb-6" src="static/wts.jpg" alt="content">
                
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">WorldTv Studio</h2>
                <p class="leading-relaxed text-base">"WorldTV Studio" the channel of incredible comparisons videos of all countries in 3D and 2D . Subscribe if you like our Videos.
                  </p></a>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <a href="https://www.youtube.com/channel/UCk2SmYzV22BD7xiRyb0IXOA/featured"><img class="h-full rounded w-full object-cover object-center mb-6" src="static/unnamed.jpg" alt="content">
                
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Data World Studio</h2>
                <p class="leading-relaxed text-base">DataWorld Studio is the  channel of incredible comparisons of Data . Data like Country comparison, Countries ranking,Probability..</p></a>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <a href="https://www.youtube.com/channel/UCw8sbHuxaVedZKebfnff_8Q"><img class="h-full rounded w-full object-cover object-center mb-6" src="static/fotw.png" alt="content">
                
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Flags Of The World</h2>
                <p class="leading-relaxed text-base">This channel is based on the timeline of all countries flags, providing different videos about flags of different countries...</p></a>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <a href="https://www.youtube.com/channel/UCjoXfCALH1XF1ioSu6uSFDg"><img class="h-full rounded w-full object-cover object-center mb-6" src="static/kwt.jpg" alt="content">
                
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Kiddy World Tv</h2>
                <p class="leading-relaxed text-base">KiddyworldTV is the channel for kids to learn Alphabets, Numbers, Shapes,  Colors, Fruits & Vegetables names, Hindi moral...</p></a>
              </div>
            </div>
            <div class="flex flex-wrap -m-4">
                <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-100 p-6 rounded-lg">
                    <a href="https://www.youtube.com/channel/UCI6bPcFkhXl-l58vs6XithQ"><img class="h-full rounded w-full object-cover object-center mb-6" src="static/rk.jpg" alt="content">
                    
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Rimmu's Kitchen</h2>
                    <p class="leading-relaxed text-base"> Hello Everyone,
                      Welcome to Rimmu's kitchen😊. 
                      In My channel you Will find😋 testy, Very Easy...</p></a>
                  </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-100 p-6 rounded-lg">
                    <a href="https://www.youtube.com/channel/UCnZo72Q_aB5IRyg6XVWXWBg"><img class="h-full rounded w-full object-cover object-center mb-6" src="static/tfw.jpg" alt="content">
                    
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4">The Food World</h2>
                    <p class="leading-relaxed text-base">My self Rumana . I love to cook delicious and easy food. Subscribe to stay tuned...</p></a>
                  </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-100 p-6 rounded-lg">
                    <a href="https://www.youtube.com/channel/UCPAl_IZCLzaohgjgBFFztVQ"><img class="h-full rounded w-full object-cover object-center mb-6" src="static/lza.jpg" alt="content">
                    
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Little Zikra Art</h2>
                    <p class="leading-relaxed text-base">hello, my self Little ZIKRA ANSARI . I love My Drawing , art,music,dancing,eating,playing...</p></a>
                  </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-100 p-6 rounded-lg">
                    <a href="https://www.youtube.com/channel/UCh6aZnnS-RuszLbQwi5Wf-A"><img class="h-full rounded w-full object-cover object-center mb-6" src="static/la.jpg" alt="content">
                    
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Little Alefiya Art</h2>
                    <p class="leading-relaxed text-base">Hello friends my self Alefiya. I am fond of making beautiful drawings, and creating new...</p></a>
                  </div>
                </div>
          </div>
        </div>
        
      </section>
      <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900" href="https://www.youtube.com/c/WorldTVStudio">
            <img width="80" src="static/Final youtbe log.png" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
           
            <span class="ml-3 text-xl">WorldTv Studio</span>
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">WorldTv Studio
            
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="text-gray-500" href="https://www.facebook.com/WorldtvStudio/">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            
            <a class="ml-3 text-gray-500" href="https://www.instagram.com/worldtvstudio/?hl=en">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500" href="https://in.linkedin.com/in/arshad-irfan-99020535?original_referer=https%3A%2F%2Fwww.google.com%2F">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </footer>
</body>
</html>