<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Our Videos</title>
</head>
<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img width="80" src="static/Final youtbe log.png" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </img>
            <span class="ml-3 text-xl">WorldTv Studio</span>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <a href="/" class="mr-5 hover:text-gray-900" >Home</a>
                <a href="channels" class="mr-5 hover:text-gray-900">Our Channels</a>
                <a href="videos" class="mr-5 hover:text-gray-900">Our Videos</a>
                <a href="ourteam" class="mr-5 hover:text-gray-900">Our Team</a>
                <a href="contact" class="mr-5 hover:text-gray-900">Contact Us</a>
                <a href="datawebsite" class="mr-5 hover:text-gray-900">worlddata4u</a>
          </nav>
          <!-- <img width="20" src="ytlogo.png" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"> -->
          <a href="https://www.youtube.com/channel/UCl5a8KNSTIlE1myVUSldhnw"><button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" >Visit<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg></button></a>
            
          
        </div>
      </header>
      <section>
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-4">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Popular Videos</h1>
            <div class="h-1 w-20 bg-indigo-600 rounded"></div>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/vUXx51aCg1A"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/OXHkfD9rPNY"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/bcRFqs75FZg"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/31s-kuyS5eM"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/tZ5yMnJeSYw"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/kHJM6kHG1JE"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/rVBaFAR4Xe4"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/Sb_5vHB_ID4"></iframe>
              </a>
              
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-4">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Country Comparison Videos</h1>
            <div class="h-1 w-20 bg-indigo-600 rounded"></div>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/xXHpMS-YNZ4"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/_e8Ft09Sdxg"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/yu6tATYi674"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/2GLdmhMODHU"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/GD18Jtt8LO8"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/rVBaFAR4Xe4"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/jaN7fgJksAo"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/sDzFtY4qAGY"></iframe>
              </a>
              
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-4">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Per Capita Videos</h1>
            <div class="h-1 w-20 bg-indigo-600 rounded"></div>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/zFFITHMc0Rg"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/dT7RDFEcluM"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/PmHvUz2smkc"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/KGd6QlJojgE"></iframe>
              </a>
              
            </div>
            
          </div>
        </div>
      </section>
      <section>
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-4">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Social Media Videos</h1>
            <div class="h-1 w-20 bg-indigo-600 rounded"></div>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/wf3LFB9H4cU"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/WRdSNMDkdtQ"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/JPJgs_UKfWg"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/SoEjAHXZDcg"></iframe>
              </a>
              
            </div>
            
          </div>
        </div>
      </section>
      <section>
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-4">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Top 100 Series</h1>
            <div class="h-1 w-20 bg-indigo-600 rounded"></div>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/sFEZvgHW4II"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/Cg2xXRSu4ko"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/0yYqRR-enFg"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/dDOFPOtLW9Y"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/VBbf7zrN4JM"></iframe>
              </a>
              
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-48 rounded overflow-hidden">
                <iframe class="object-cover object-center w-full h-full block" src="https://www.youtube.com/embed/XMUI0GLqkiI"></iframe>
              </a>
              
            </div>
            
          </div>
        </div>
      </section>
      <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900" href="https://www.youtube.com/c/WorldTVStudio">
            <img width="80" src="static/Final youtbe log.png" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
           
            <span class="ml-3 text-xl">WorldTv Studio</span>
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">WorldTv Studio
            
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="text-gray-500" href="https://www.facebook.com/WorldtvStudio/">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            
            <a class="ml-3 text-gray-500" href="https://www.instagram.com/worldtvstudio/?hl=en">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500" href="https://in.linkedin.com/in/arshad-irfan-99020535?original_referer=https%3A%2F%2Fwww.google.com%2F">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </footer>
</body>
</html>